DB_URL=
DB_NAME=
DB_USER=
DB_PASSWORD=

JWT_SECRET=
JWT_EXPIRATION_MS=

# Configure both for HTTP and HTTPs, base on your frontend domain, or add more if you allow more domains
ALLOWED_ORIGIN_1=
ALLOWED_ORIGIN_2=

JPA_OPEN_IN_VIEW_ENABLED=

# Swagger UI and API docs enable options, leave it blank when disable it
API_DOCS_ENABLED=
SWAGGER_UI_ENABLED=