DB_URL=
DB_NAME=
DB_USER=
DB_PASSWORD=

JWT_SECRET=
JWT_EXPIRATION_MS=

# Configure both for HTTP and HTTPs, base on your frontend domain, or add more if you allow more domains
ALLOWED_ORIGIN_1=
ALLOWED_ORIGIN_2=